header{
    background-color: #101010;    
}

.options-menu > ul > li > a {
    color: #752121;
    text-decoration: none;
    transition: 0.5s;
    font-size: 23px;
}

.options-menu > ul > li > a:hover{
    color: #ff0000
}

.container-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-list > li{
    margin-left: 50px;
    font-weight: 500;
}

.container-list img {
    width: 140px;
}
