#background-contact{
    height: 100%;
    background-image: url("../../image/Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-contact{
    background-color: #101010;
    width: 50%;
    border-radius: 10px;
    border: 1px solid #752121;
    margin: 0 auto;
}

h1{
    font-size: 40px;
    margin: 10px;
    color: #752121;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

.input-informations {
    width: 30%;
    height: 30px;
    border-radius: 3px;
    padding: 5px;
    font-size: 15px;
    margin: 10px;
    border: solid 1px #752121;
    background-color: #000;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]{
    -moz-appearance: textfield;
}

p{
    font-size: 25px;
    color: #752121;
    font-weight: 600;
    margin: 10px;
}


.txtArea{
    width: 80%;
    height: 150px;
    background-color: #000;
    border: solid 1px #752121;
    color: #fff;
    font-size: 15px;
    padding: 5px;   
}

.input-submit{
    margin: 20px;
    width: 15%;
    height: 30px;
    background-color: #000;
    color: #752121;
    font-size: 18px;
    border: solid 1px #752121;
    cursor: pointer;
}