*{
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;    
}

.container{
    max-width: 1170px;
    margin: auto;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #752121;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
}

h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: #752121;
}

h3{
    color: #752121;
}